<h1>Google Sheet Data</h1>

<% if @error %>
  <p><%= @error %></p>
<% else %>
  <table>
    <% @rows&.each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
