<!DOCTYPE html>
<html>
  <head>
    <title>My Rails + Vite + React App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'components/App.jsx' %>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
